{% load staticfiles %}
<head>
<title>{% block title %}{% endblock %} - BWF</title>
{% block head %}
{% endblock %}
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
   <link rel="stylesheet" href="{% static 'css/bootstrap-table.css'%}" >
</head>

<body>
  {% block content %}
  {% endblock  %}
  <script src={% static 'js/jquery.min.js' %}></script>
  <script src={% static 'js/bootstrap.min.js' %}></script>
  <script src={% static 'js/bootstrap-table.js' %}></script>
  {% include 'modaljs.html' %}
</body>
